<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, Express!</h1>

    <h2>Get 요청</h2>
    <form action ="/calculator" method="get">
        <input type="number" name="num1" id="">
        +
        <input type="number" name="num2" id="">
        <button type="submit"> 제출 </button>
    </form> <br>
    <!-- get method -->
    <!-- name 을 통해 해당 값을 추적할 수 있음 -->

    <h2>Post 요청</h2>
    <form action ="/calculator" method="post">
        <input type="number" name="num1" id="">
        +
        <input type="number" name="num2" id="">
        <button type="submit"> 제출 </button>
    </form> <br>

    <img src="./2.jpeg" alt="">

</body>
</html>